<% include ../partials/header.ejs %>    
<div class="form__container">
    <h1 class="title">Add New List</h1>
    <form class="form" action="/lists" method="POST">
        <div class="form__control">
            <label>ListName:</label>
            <input class="form__input" type='text' name='listName'>
        </div>
        <div class="form__control">
            <label>List Description:</label> 
            <textarea class="form__input" rows="4" cols="50" name='listDesc' placeholder='The awesomest books I ever read...'></textarea>
        </div>
        <div class="form__control">
            <button class="buttonx buttonx--success" type="submit">Submit</button>
        </div>
    </form>
</div>


<% include ../partials/footer.ejs %>

