.container{
    &__content1{
        width: 50vw;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .container__content1:nth-child(2){
        flex-direction: column;

        .headtext{
            font-size: 2.5rem;
            margin: 1rem;
            font-family: Acme;
            font-weight: 100;
        }
    }
}

@media screen and (max-device-width: 650px){

    #content .container:nth-child(1){
        flex-direction: column;
    }

    .container__content1{
        width: 100vw;
    }
}