<% include ../partials/header %>

<h1>Add a new comment to <%= list.name %></h1>

<form action="/lists/<%= list._id %>/comments" method="POST">
    <textarea rows="4" cols="50" name="commentText" plaeholder="Review Me!"></textarea>
    <button type="submit">Post It!</button>
</form>


<% include ../partials/footer %>