

</div>
<div class="footer">
<div class="social-btnxs"><a class="btnx facebook" href="#"><i class="fa fa-facebook"></i></a><a class="btnx twitter" href="#"><i class="fa fa-twitter"></i></a><a class="btnx google" href="#"><i class="fa fa-google"></i></a><a class="btnx instagram" href="#"><i class="fa fa-instagram"></i></a>
</div>
<div class="madeby">Made By- Greeva, Neel, Muskaan & lots of <i class="fa fa-heart" aria-hidden="true"></i>
</div>
</div>

</body>
<!-- <script src="js/nav.js"></script> -->

</html>