<!DOCTYPE html>
<html>
<head>
    <title>Book Bhandar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>
    <div id="nav-bg" class="btn"></div>
    <div id="toggle-btn" class="btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    
    <div class="wrapper">
        <nav>
            <ul>
                <li><a class="link" href="#0">Lists</a></li>
                <li><a class="link" href="#0">Search</a></li>
                <% if (!currentUser){%>
                <li><a class="link" href="#0">Login</a></li>
                <li><a class="link" href="#0">Sign Up</a></li>
                <% }else{ %>
                <li><a class="link" href="#0">Logout</a></li>
                <% } %>
            </ul>
        </nav>
        
        <div id="content">