<% include ./partials/header %>

<div class="heading">
    <div class="heading__main">
        <span>Book </span>
        <span><i class="fa fa-align-left"></i></span>
        <span> Bhandar</span>
    </div>
    <div class="heading__sub">
        <span>The book cataloguing social media website</span>
        <span><i class="fa fa-comments-o"></i></span>
    </div>
</div>
<div class="title">About</div>
<div class="container">
    <div class="container__content1">
        <div class="isocard">
            <div class="isocard__content"><img src="https://marketplace.canva.com/MAB4A8xTTac/1/0/thumbnail_large/canva-minimalist-teen-fiction-wattpad-book-cover-MAB4A8xTTac.jpg" alt=""></div>
            <div class="isocard__content"><img src="https://marketplace.canva.com/MACH-Ixwiec/1/0/thumbnail_large/canva-minimalist-photo-wattpad-book-cover-MACH-Ixwiec.jpg" alt=""></div>
            <div class="isocard__content"><img src="https://marketplace.canva.com/MACV2Ehunsw/1/0/thumbnail_large/canva-blue-photo-science-fiction-book-cover-MACV2Ehunsw.jpg" alt=""></div>
            <div class="isocard__content"><img src="https://marketplace.canva.com/MACBTyJGXXY/1/0/thumbnail_large/canva-purple-paint-strokes-abstract-art-creativity-book-cover-MACBTyJGXXY.jpg" alt=""></div>
        </div>
    </div>
    
    <div class="container__content1 about">
        <div class="headtext" id="question1"><em>Who are we?</em></div>
        <div class="headtext"><b>BookBhandar</b> is the world’s largest site for readers and book recommendations. Our mission is to help people find and share books they love. BookBhandar launched in October 2018</div>
        <div class="headtext" id="question2"><br><em>A Few Things You Can Do On BookBhandar:</em></div>
        <div class="headtext">See what books your friends are reading.Track the books you're reading, have read, and want to read by creating lists.Find out if a book is a good fit for you from our community’s reviews.<br>
        </div>
        <div class="headtext">So we decided to build a website – a place where we could see my friends' bookshelves and learn about what they thought of all their books.
        BookBhandar is that site. It is a place where you can see what your friends are reading and vice versa. You can create "lists" to organize what you've read (or want to read).
        You can comment on each other's reviews. 
        You can find your next favorite book. And on this journey with your friends you can explore new territory, gather information, and expand your mind. 
        Knowledge is power, and power is best shared among readers. 
        </div>
        <div class="headtext" id="signature">BookBhandar Team</div>
    </div>
</div>

<hr>

<div class="title">Features</div>
<div class="container">
    <div class="feature">
        <div class="featureitem">
            <div class="featureitem__gif">
                <img src="assets/animat-layers-256x256-color-wm.gif" alt="layer">
            </div>
            <div class="featureitem__content">
                Making customised book lists has never been easier!! All members can share, explore, and discover books via personalised lists, globally shared.     
            </div>
        </div>
        <div class="featureitem">
            <div class="featureitem__gif">
                <img src="assets/animat-star-256x256-color-wm.gif" alt="">
            </div>
            <div class="featureitem__content">
                Want to see what others like or follow?! You're at the right spot! Starring book lists made by others has always been a favorite task   
            </div>
        </div>
        <div class="featureitem">
            <div class="featureitem__gif">
                <img src="assets/animat-heart-256x256-color-wm.gif" alt="">
            </div>
            <div class="featureitem__content">
                Bookmarking feature
            </div>
        </div>
        <div class="featureitem">
            <div class="featureitem__gif">
                <img src="assets/animat-chat-256x256-color-wm.gif" alt="">
            </div>
            <div class="featureitem__content">
                Commenting feature
            </div>
        </div>
    </div>
</div>

<hr>


<div class="title">Stats</div>
<div class="container">
    <div class="stats">
        <div class="wrapperx">
            <div class="counter col_fourth">
                <i class="fa fa-cubes"></i>
                <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
                <p class="count-text ">Stacks</p>
                <div class="count-subtext">built</div>
            </div>
            
            <div class="counter col_fourth">
                <i class="fa fa-book"></i>
                <h2 class="timer count-title count-number" data-to="500" data-speed="1500"></h2>
                <p class="count-text ">Books</p>
                <div class="count-subtext">indexed</div>
            </div>
            
            <div class="counter col_fourth">
                <i class="fa fa-user"></i>
                <h2 class="timer count-title count-number" data-to="50" data-speed="1500"></h2>
                <p class="count-text ">Users</p>
                <div class="count-subtext">registered</div>
            </div>
            
            <div class="counter col_fourth end">
                <i class="fa fa-bookmark"></i>
                <h2 class="timer count-title count-number" data-to="150" data-speed="1500"></h2>
                <p class="count-text ">Bookmarks</p>
                <div class="count-subtext">added</div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="title">Top Lists</div>
<div class="container">
   <div class-"container__content1">
         <div id="make-3D-space">
        <div id="product-card">
            <div id="product-front">
                <div class="shadow"></div>
                <img src="https://marketplace.canva.com/MACWS7ScPCY/1/0/thumbnail_large/canva-white-night-sky-autobiography-book-cover-MACWS7ScPCY.jpg" alt="" />
                <div class="image_overlay"></div>
                <div id="view_details">View Stack</div>
                <div class="stats">        	
                    <div class="stats-container">
                        <span class="product_price">3</span>
                        <span class="product_name">Dreamer's Collection</span>    
                        <p>Dreamer's Utopia</p>                                            
                        
                        <div class="product-options">
                            <strong>Bookmarks</strong>
                            <span>200+</span>
                            <strong>GENRES</strong>
                            <div class="colors">
                                <ul style="font-size: 1.3rem">
                                    <li>Fiction</li>
                                    <li>Adventure</li>
                                    <li>Long Reads</li>
                                </ul>
                            </div>
                        </div>                       
                    </div>                         
                </div>
            </div>
            <div id="product-back">
                <div class="shadow"></div>
                <div id="carousel">
                    <ul>
                        <li><img src="https://marketplace.canva.com/MACWS7ScPCY/1/0/thumbnail_large/canva-white-night-sky-autobiography-book-cover-MACWS7ScPCY.jpg" alt="" /></li>
                        <li><img src="https://marketplace.canva.com/MAB4A3DmzC8/1/0/thumbnail_large/canva-photographic-fantasy-wattpad-book-cover-MAB4A3DmzC8.jpg" alt="" /></li>
                        <li><img src="https://marketplace.canva.com/MACTrgPUYsY/1/0/thumbnail_large/canva-blue-dancer-photography-book-cover-MACTrgPUYsY.jpg" alt="" /></li>
                    </ul>
                    <div class="arrows-perspective">
                        <div class="carouselPrev">
                            <div class="y"></div>
                            <div class="x"></div>
                        </div>
                        <div class="carouselNext">
                            <div class="y"></div>
                            <div class="x"></div>
                        </div>
                    </div>
                </div>
                <div id="flip-back">
                    <div id="cy"></div>
                    <div id="cx"></div>
                </div>
            </div>	  
        </div>	
    </div> 
   </div>
   
   <div class="container__content1">
       <div class="headtext">
           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
       </div>
       <div class="headtext">
           It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
       </div>
   </div>
</div>


<hr>


<% if(!currentUser){ %>
<div class="container register">
    <figure>
        <div>
            <a href="/register">
            <span>Sign Up</span>
            <span>Now!</span>
            </a>
        </div>
    </figure>
</div>
<% } %>


<hr>


<div class="title">Reviews</div>
<div class="container">
    <ul class="cards">
        
        <li class="card">
            <h1><i>The Secret by Rhonda Byrne<i></h1>
            <p>I liked the concept of the book. It is based on Law of Attraction. 
            Law of Attraction is NOT TRUE (in fact, it is not even a law), however, believing in it “simplifies our life” as it allows us:
            > to imagine that if we are working hard, then, results gonna be positive.
            > to chase our dreams (which often times is UNPRACTICAL to follow, hence, we do need “some hope/false faith” to at least put our best of the best efforts to realise our dreams).
            One can take lightly the some of the things mentioned in the book, sending right/positive vibrations to the Universe, letting the Universe know what you want, etc.
            <br>
            <br>
            <b><i>Highly Recommended by Robin<i><b></p>
        </li>
        <li class="card">
            <h1><i>A Tale of two cities by Charles Dickens<i></h1>
            <p>It's about the French Revolution. The "two cities" refers literally to France and England, but it may also be a metaphor for the two main characters of the book. 
            It shows the distinctions of social class and its effects on society and dwells on the complexities of human nature and human experiences.
             Here's a more complete and accurate guide http://www.sparknotes.com/lit/twocities
            The Tale is coincidentally a historical fiction novel. 
            At the time of writing, Dickens sought current civil settings, sometimes quoting actual events of the revolution, to vent his libelous conceptualization of humanity.
            <br>
            <br>
            <b><i>Highly Recommended by Ted<i><b></p>
        </li>
        
        <li class="card">
            <h1><i>Pride and Prejudice by Jane Austen<i></h1>
            <p>Because it's an honest observation of people's characters in the Regency era that we can still relate (well, some part of it), and it's witty too.
            I've read it a few times, and I realize that, as I grow older, I had a different perception towards the matters in the book each time I read it.
            We all do have “mental barriers” (that's why we say I can't do that, it's not possible for me) and these barriers even stop us from taking the first step. This is where the concept of “The Secret” book could be utilised. First we have to prepare ourselves mentally for our goals (asking the Universe/God for it), then when we have to take proper actions.
            Therefore, it's never a bore, unlike many other classic lits. I believe the book is even able to lift my mood
            <br><br>
            <b><i>
            Highly Recommended by Lilly <i><b></p>
        </li>
        <li class="card">
           <h1><i>Resurrection by Leo Tolstoy
            <i></h1>
            <p>
            Start with his long short story, “The Death of Ivan Illich.” 
            Personally, I am not a Tolstoy fan. 
            I find his prose turgid and pretentious.
             We all do have “mental barriers” (that's why we say I can't do that, it's not possible for me) and these barriers even stop us from taking the first step. This is where the concept of “The Secret” book could be utilised. First we have to prepare ourselves mentally for our goals (asking the Universe/God for it), then when we have to take proper actions. Results will appear, sooner or later. 
            Something good will come out of it (may not be exactly what we wanted).
             Try Dostoevsky instead, starting with CRIME AND PUNISHMENT.
            <br><br>
            <b><i>
            Highly Recommended by Barney <i><b></p>
        </li>
    </ul>
</div>

<script src="js/stat.js"></script>
<script src="js/stackcard.js"></script>
<script src="js/card.js"></script>
<script src="js/scrollcard.js"></script>

<% include ./partials/footer %>