<% include ./partials/header %>

<div class="heading">
    <div class="heading__main">
        <span>Book </span>
        <span><i class="fa fa-align-left"></i></span>
        <span> Bhandar</span>
    </div>
    <div class="heading__sub">
        <span>The book cataloguing social media website</span>
        <span><i class="fa fa-comments-o"></i></span>
    </div>
</div>
<div class="title">About</div>
<div class="container">
    <div class="container__content1">
        <div class="isocard">
            <div class="isocard__content"><img src="https://marketplace.canva.com/MAB4A8xTTac/1/0/thumbnail_large/canva-minimalist-teen-fiction-wattpad-book-cover-MAB4A8xTTac.jpg" alt=""></div>
            <div class="isocard__content"><img src="https://marketplace.canva.com/MACH-Ixwiec/1/0/thumbnail_large/canva-minimalist-photo-wattpad-book-cover-MACH-Ixwiec.jpg" alt=""></div>
            <div class="isocard__content"><img src="https://marketplace.canva.com/MACV2Ehunsw/1/0/thumbnail_large/canva-blue-photo-science-fiction-book-cover-MACV2Ehunsw.jpg" alt=""></div>
            <div class="isocard__content"><img src="https://marketplace.canva.com/MACBTyJGXXY/1/0/thumbnail_large/canva-purple-paint-strokes-abstract-art-creativity-book-cover-MACBTyJGXXY.jpg" alt=""></div>
        </div>
    </div>
    
    <div class="container__content1">
        <div class="headtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit dolor, inventore culpa, iste ad doloremque deserunt, architecto quasi earum adipisci hic quo? Pariatur quasi veniam magni blanditiis dicta est consequatur.</div>
        <div class="headtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt perspiciatis aliquam quod a hic dolore quam, sint dolores maxime ab porro cum illo, voluptas natus. Quia eligendi aliquid deserunt sint.</div>
        <div class="headtext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima iste, impedit delectus aliquam ducimus, velit commodi eaque in at praesentium error a nesciunt possimus dolor! Asperiores reprehenderit reiciendis repudiandae beatae.</div>
    </div>
</div>

<hr>

<div class="title">Features</div>
<div class="container">
    <div class="feature">
        <div class="featureitem">
            <div class="featureitem__gif">
                <img src="assets/animat-layers-256x256-color-wm.gif" alt="layer">
            </div>
            <div class="featureitem__content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, numquam at pariatur accusantium repellendus consectetur cumque amet sit maxime odio voluptas ipsum molestias hic vel praesentium iste aspernatur natus reiciendis.
            </div>
        </div>
        <div class="featureitem">
            <div class="featureitem__gif">
                <img src="assets/animat-star-256x256-color-wm.gif" alt="">
            </div>
            <div class="featureitem__content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, numquam at pariatur accusantium repellendus consectetur cumque amet sit maxime odio voluptas ipsum molestias hic vel praesentium iste aspernatur natus reiciendis.
            </div>
        </div>
        <div class="featureitem">
            <div class="featureitem__gif">
                <img src="assets/animat-heart-256x256-color-wm.gif" alt="">
            </div>
            <div class="featureitem__content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, numquam at pariatur accusantium repellendus consectetur cumque amet sit maxime odio voluptas ipsum molestias hic vel praesentium iste aspernatur natus reiciendis.
            </div>
        </div>
        <div class="featureitem">
            <div class="featureitem__gif">
                <img src="assets/animat-chat-256x256-color-wm.gif" alt="">
            </div>
            <div class="featureitem__content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, numquam at pariatur accusantium repellendus consectetur cumque amet sit maxime odio voluptas ipsum molestias hic vel praesentium iste aspernatur natus reiciendis.
            </div>
        </div>
    </div>
</div>

<hr>


<div class="title">Stats</div>
<div class="container">
    <div class="stats">
        <div class="wrapperx">
            <div class="counter col_fourth">
                <i class="fa fa-cubes"></i>
                <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
                <p class="count-text ">Stacks</p>
                <div class="count-subtext">built</div>
            </div>
            
            <div class="counter col_fourth">
                <i class="fa fa-book"></i>
                <h2 class="timer count-title count-number" data-to="500" data-speed="1500"></h2>
                <p class="count-text ">Books</p>
                <div class="count-subtext">indexed</div>
            </div>
            
            <div class="counter col_fourth">
                <i class="fa fa-user"></i>
                <h2 class="timer count-title count-number" data-to="50" data-speed="1500"></h2>
                <p class="count-text ">Users</p>
                <div class="count-subtext">registered</div>
            </div>
            
            <div class="counter col_fourth end">
                <i class="fa fa-bookmark"></i>
                <h2 class="timer count-title count-number" data-to="150" data-speed="1500"></h2>
                <p class="count-text ">Bookmarks</p>
                <div class="count-subtext">added</div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="title">Top Lists</div>
<div class="container">
    <div id="make-3D-space">
        <div id="product-card">
            <div id="product-front">
                <div class="shadow"></div>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt.png" alt="" />
                <div class="image_overlay"></div>
                <div id="view_details">View details</div>
                <div class="stats">        	
                    <div class="stats-container">
                        <span class="product_price">$39</span>
                        <span class="product_name">Adidas Originals</span>    
                        <p>Men's running shirt</p>                                            
                        
                        <div class="product-options">
                            <strong>SIZES</strong>
                            <span>XS, S, M, L, XL, XXL</span>
                            <strong>COLORS</strong>
                            <div class="colors">
                                <div class="c-blue"><span></span></div>
                                <div class="c-red"><span></span></div>
                                <div class="c-white"><span></span></div>
                                <div class="c-green"><span></span></div>
                            </div>
                        </div>                       
                    </div>                         
                </div>
            </div>
            <div id="product-back">
                <div class="shadow"></div>
                <div id="carousel">
                    <ul>
                        <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large.png" alt="" /></li>
                        <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large2.png" alt="" /></li>
                        <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large3.png" alt="" /></li>
                    </ul>
                    <div class="arrows-perspective">
                        <div class="carouselPrev">
                            <div class="y"></div>
                            <div class="x"></div>
                        </div>
                        <div class="carouselNext">
                            <div class="y"></div>
                            <div class="x"></div>
                        </div>
                    </div>
                </div>
                <div id="flip-back">
                    <div id="cy"></div>
                    <div id="cx"></div>
                </div>
            </div>	  
        </div>	
    </div> 
</div>


<hr>


<div class="container register">
    <figure>
        <div>
            <span>Sign Up</span>
            <span>Now!</span>
        </div>
    </figure>
</div>


<hr>


<div class="title">Reviews</div>
<div class="container">
    <ul class="cards">
        
        <li class="card">
            <h1>Comment Card 1 </h1>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum, lorem vel tincidunt imperdiet, nibh elit laoreet felis, a bibendum nisl tortor non orci. Donec pretium fermentum felis, quis aliquet est rutrum ut. Integer quis massa ut lacus viverra pharetra in eu lacus. Aliquam tempus odio adipiscing diam pellentesque rhoncus. Curabitur a bibendum est. Mauris vehicula cursus risus id luctus. Curabitur accumsan venenatis nibh, non egestas ipsum vulputate ac. Vivamus consectetur dolor sit amet enim aliquet eu scelerisque ipsum hendrerit. Donec lobortis suscipit vestibulum. Nullam luctus pellentesque risus in ullamcorper. Nam neque nunc, mattis vitae ornare ut, feugiat a erat. Ut tempus iaculis augue vel pellentesque.</p>
        </li>
        <li class="card">
            <h1>Comment Card 2 </h1>
            
            <p>Vestibulum nunc massa, gravida quis porta nec, feugiat id metus. Nunc ac arcu dolor, quis vestibulum leo. Cras viverra mollis ipsum, non rhoncus lectus aliquam et. Morbi faucibus purus sit amet lacus aliquet elementum. Donec sit amet posuere enim. Cras in eros id tortor fringilla ultricies. Mauris faucibus ullamcorper velit, pulvinar varius odio eleifend eu. Quisque id odio metus. Morbi adipiscing ultricies posuere. Pellentesque elementum porttitor eros in molestie. Maecenas ut leo quis nisi tempor tincidunt.</p>
        </li>
        <li class="card">
            <h1>Comment Card 3</h1>
            
            <p>Donec nunc ligula, vulputate quis mollis eu, interdum quis libero. Donec nulla ante, facilisis sit amet vulputate at, tincidunt a velit. Maecenas vestibulum, nulla sed tincidunt viverra, lorem turpis aliquam urna, ut pretium orci purus consequat augue. Etiam a enim orci, vitae pulvinar odio. In elit urna, tincidunt a pellentesque et, scelerisque at nibh. Sed nec est sapien. Aliquam ullamcorper eros eu quam ultrices vel faucibus eros interdum. Etiam mattis eleifend sapien, eu iaculis massa feugiat sed. Aliquam erat volutpat. Vivamus facilisis ultricies eros, a pretium purus mollis id. Sed dapibus elit ut neque rutrum dignissim. Nulla eros nisl, venenatis quis rhoncus sit amet, molestie nec nisl. Pellentesque vel neque sapien, et sagittis nulla.</p>
            
        </li>
        <li class="card">
            <h1>Comment Card 4</h1>
            
            <p>Donec nunc ligula, vulputate quis mollis eu, interdum quis libero. Donec nulla ante, facilisis sit amet vulputate at, tincidunt a velit. Maecenas vestibulum, nulla sed tincidunt viverra, lorem turpis aliquam urna, ut pretium orci purus consequat augue. Etiam a enim orci, vitae pulvinar odio. In elit urna, tincidunt a pellentesque et, scelerisque at nibh. Sed nec est sapien. Aliquam ullamcorper eros eu quam ultrices vel faucibus eros interdum. Etiam mattis eleifend sapien, eu iaculis massa feugiat sed. Aliquam erat volutpat. Vivamus facilisis ultricies eros, a pretium purus mollis id. Sed dapibus elit ut neque rutrum dignissim. Nulla eros nisl, venenatis quis rhoncus sit amet, molestie nec nisl. Pellentesque vel neque sapien, et sagittis nulla.</p>
            
        </li>
    </ul>
</div>

<script src="js/stat.js"></script>
<script src="js/stackcard.js"></script>
<script src="js/card.js"></script>
<script src="js/scrollcard.js"></script>

<% include ./partials/footer %>