.featureitem{
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    font-family: Acme;

    &__gif{
        width: 50vw;
        display: flex;
        justify-content: center;
    }

    &__content{
        width: 50vw;
        padding: 5rem;
    }
}

.feature .featureitem:nth-child(2n+1){
    flex-direction: row-reverse;
}

@media screen and (max-device-width: 650px){
    .featureitem__gif{
        width: 100vw;

        img{
            width: 50%;
            height: 50%;
        }
    }

    .featureitem__content{
        width: 100vw;
        padding: 1rem;
    }

    .featureitem{
        flex-direction: column;
    }
    .feature .featureitem:nth-child(2n+1){
        flex-direction: column;
    }
}