/* =======
IMPORTS
======= */
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');
  
/* =======
WRAPPER
======= */
.wrapper {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(to top right, #4ECA78, #D0DB68);
}


/* =====================
NAVIGATION BACKGROUND
===================== */
#nav-bg {
  transform-origin: center center;
  transition: transform .3s;
  transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale));
  will-change: transform;
  pointer-events: none;
}


/* ======
BUTTON
====== */
.btn {
  position: fixed;
  height: 6em;
  width: 6em;
  bottom: 3em;
  left: 3em;
  /*left: calc(50% - (var(--btn-size)/2*1px)); if you wish to center it */
  border-radius: 50%;
  background: #fafafa;
  cursor: pointer;
  margin: 0;
  padding: 0 1.5em;
  border: none;
  z-index: 100;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#toggle-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
//   box-shadow: 0 6px 12px rgba(0,0,0,.1);
  transition: transform .3s;
}

#toggle-btn span {
  position: relative;
  width: 100%;
}

#toggle-btn span {
  margin-top: -4px;
}
#toggle-btn span + span {
  margin-top: 8px;
}

#toggle-btn span:before,
#toggle-btn span:after {
  content: '';
  position: absolute;
  top: 0;
  background: currentColor;
  opacity: .8;
  height: 100%;
  width: 50%;
  height: 4px;
  transition: .25s cubic-bezier(.6,0,.3,1);
  transform-origin: center center;
}

#toggle-btn span:before {
  left: 0;
  border-radius: 3px 0 0 3px;
}

#toggle-btn span:after {
  right: 0;
  border-radius: 0 3px 3px 0;
}

#toggle-btn.shown span:nth-of-type(1):before {
  transform: translate3d(3px, 3.5px, 0) rotate(45deg);
}

#toggle-btn.shown span:nth-of-type(1):after {
  transform: translate3d(-3px, 3.5px, 0) rotate(-45deg);
}

#toggle-btn.shown span:nth-of-type(3):before {
  transform: translate3d(3px, -3.5px, 0) rotate(-45deg);
}

#toggle-btn.shown span:nth-of-type(3):after {
  transform: translate3d(-3px, -3.5px, 0) rotate(45deg);
}

#toggle-btn.shown span:nth-of-type(2):before,
#toggle-btn.shown span:nth-of-type(2):after {
  opacity: 0.0001;
}

#toggle-btn.shown span:nth-of-type(2):before {
  transform: translateX(-200%);
}

#toggle-btn.shown span:nth-of-type(2):after {
  transform: translateX(200%);
}

#toggle-btn.shown:before {
  transform: scale(.6);
  transition: .2s;
}

#toggle-btn:before {
  content: '';
  transition: .2s .2s;
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.1);
  border-radius: inherit;
  filter: blur(5px);
  z-index: -2;
}
#toggle-btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: #fafafa;
  z-index: -1;
}

/* ==========
NAVIGATION
========== */
nav {
  width: 100%;
  height: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  z-index: 200;
  pointer-events: none;
}

nav ul {
  margin: auto;
  pointer-events: auto;
  text-align: center;
}

nav li {
  font-size: 3em;
  color: #212121;
  user-select: none;
  transform: translate(-2em,2em) scale(.9);
  transition: 0s;
  opacity: 0.0001;
  visibility: hidden;
  will-change: transform;
}

nav li + li {
  margin-top: 3em;
}

#toggle-btn.shown ~ .wrapper nav li {
  transform: none;
  opacity: 1;
  visibility: visible;
  transition: .35s cubic-bezier(.4,2.08,.55,1);
}

#toggle-btn.shown ~ .wrapper nav li:nth-child(1) {
  transition-delay: .15s;
}
#toggle-btn.shown ~ .wrapper nav li:nth-child(2) {
  transition-delay: .125s;
}
#toggle-btn.shown ~ .wrapper nav li:nth-child(3) {
  transition-delay: .1s;
}

/* ============
LINK EFFECT
============ */
.link {
  position: relative;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.link:before,
.link:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 50%;
  background: #4ECA78;
  top: calc(50% + 2px);
  transition: transform .3s cubic-bezier(.5,.5,0,1);
}

.link:before {
  left: 0;
  transform: translateX(calc(-100% - 10px)) scaleX(0);
  transform-origin: left;
}

.link:after {
  right: 0;
  transform: translateX(calc(100% + 10px)) scaleX(0);
  transform-origin: right;
}

.link:hover:before {
  transform: translateX(calc(-100% - 10px)) scaleX(1);
  transform-origin: right;
}

.link:hover:after {
  transform: translateX(calc(100% + 10px)) scaleX(1);
  transform-origin: left;
}


/* =======
CONTENT
======= */
#content {
  height: 100%;
}





