.social-btnxs .btnx,
.social-btnxs .btnx:before,
.social-btnxs .btnx .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btnxs .btnx:before {
  top: 90%;
  left: -110%;
}
.social-btnxs .btnx .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btnxs .btnx.facebook:before {
  background-color: #3b5998;
}
.social-btnxs .btnx.facebook .fa {
  color: #3b5998;
}
.social-btnxs .btnx.twitter:before {
  background-color: #3cf;
}
.social-btnxs .btnx.twitter .fa {
  color: #3cf;
}
.social-btnxs .btnx.google:before {
  background-color: #dc4a38;
}
.social-btnxs .btnx.google .fa {
  color: #dc4a38;
}
.social-btnxs .btnx.dribbble:before {
  background-color: #f26798;
}
.social-btnxs .btnx.dribbble .fa {
  color: #f26798;
}
.social-btnxs .btnx.skype:before {
  background-color: #00aff0;
}
.social-btnxs .btnx.skype .fa {
  color: #00aff0;
}
.social-btnxs .btnx.instagram:before {
  background-color: #e4405f;
}
.social-btnxs .btnx.instagram .fa {
  color: #e4405f;
}
.social-btnxs .btnx:focus:before,
.social-btnxs .btnx:hover:before {
  top: -10%;
  left: -10%;
}
.social-btnxs .btnx:focus .fa,
.social-btnxs .btnx:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btnxs {
  height: 9rem;
  margin: auto;
  font-size: .9rem;
  text-align: center;
//   position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btnxs .btnx {
  display: inline-block;
  background-color: #fff;
  width: 9rem;
  height: 9rem;
  line-height: 9rem;
  margin: 0 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 .5rem 1.5rem -.5rem rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btnxs .btnx:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btnxs .btnx .fa {
  font-size: 3.8rem;
  vertical-align: middle;
}
